<div class="row justify-content-center">
  <div class="col-form">
    <form method="GET" action="/artist-search">
      <div class="form-group">
        <label for="artist-input">Title</label>
        <input
          name="artist"
          type="text"
          class="form-control"
          id="artist-input"
        />
      </div>
      <button type="submit" class="btn btn-red">Search for an Artist</button>
    </form>
  </div>
</div>